extends layout 
 
block content 
  h1= title 
 
  form(id='hotelForm', action="/resource/hotel", method="POST") 
    div.form-group 
        label.hotelAttr(for='Hotel_name') Hotel_name 
        input#Hotel_name(type='text', name='Hotel_name') 
    div.form-group 
        label.hotelAttr(for='Location') Location 
        input#Location(type='text', name='Location') 
    div.form-group 
        label.hotelAttr(for='price') price 
        input#price(type='number', name='price') 
    input(type="submit") 
 
  script. 
    document.forms['hotelForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 