extends layout 
 
block content 
 h1(class="text-center")= title 
 if (toShow == null) 
  h2 No instance to delete 
 else
  - let jamid = toShow._id
  - let jam_name = toShow.name
  - let cost = toShow.cost
  - let quantity = toShow.quantity

  div.row(class='mb-2')
   div.mr-1 ID is
   div #{jamid}
  - let actionid = "/resource/jam/" + jamid 
  form(id='jamForm',class="text-center", action=actionid, method="PUT") 
    div.form-group 
        label.jamAttr(for='jam_name') name 
        input#jam_name(type='text', name='name', value= jam_name) 
    div.form-group 
        label.jamAttr(for='cost') cost
        input#Location(type='text', name='cost', value= cost) 
    div.form-group 
        label.jamAttr(for='quantity') quantity 
        input#quantity(type='String', name='quantity', value= quantity) 
    input(type="submit" class="btn btn-primary m-2")
 
  script. 
    document.forms['jamForm'].addEventListener('submit', (event) => { 
        event.preventDefault(); 
        // TODO do something here to show user that form is being submitted 
        fetch(event.target.action, { 
            method: 'PUT', 
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
        }).then((resp) => { 
            return resp.json(); // or resp.text() or whatever the server sends 
        }).then((body) => { 
            alert("Update succeded") 
            // TODO handle body 
        }).catch((error) => { 
            // TODO handle error 
            alert("Update failed " + error ) 
        }); 
        });