body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.jamAttr { 
  background-color: aquamarine; 
  width: 120px; 
} 
.jamDetailAttr{
  background-color:rgb(255, 252, 196); 
  width: 110px; 
  border: 1px blue;
}
