body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.jamAttr { 
  background-color: aquamarine; 
  width: 120px; 
} 
.toolJAttr{
background-color: blanchedalmond;
width: 110;
border: 2px dashed black;
padding:25px;
width:29%;
}